#denunciar{
    
    background-color: #3f0d12;
    background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
    
    color:white;
    padding: 2.5%;
    /*display: flex;*/
    /*align-items:flex-end;*/
    border-radius: 15px;
    font-size: 130%; 
    margin-top:35%;
    margin-left: 75%;
}
#first-container{
    width:100%;
    background-image: url('../images/cat.jpg');
    background-size: cover;
    height:124vh; 
    margin-top:20%;
}

