#footer{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    padding: 2.6%;
    margin-top: 1%;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
}

.SM-link{
    color: transparent;  
    padding: 0;  
}