
.navegacion{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);  
    margin-bottom: 0.5%;
    margin-top:0;

}


@media screen and (min-width: 300px){      
    .link{
        text-decoration:none;
        color: #09203f;
        font-size: 92%;
        font-weight:bold;        
        margin:2%;
    }
    .link:hover{
    text-decoration:none;
    color:whitesmoke;
    }
    #adoptar{
        margin-right:8%;    
    }   
    
    #logo-principal{
        width:60%!important;
        height: 25%;        
        margin-left: 2%!important;
    }          

}
@media screen and (min-width: 360px){
    #logo-principal{
        width:50%!important;
        height:25%;
        margin-left:1%;
    }
}

@media screen and (min-width:400px){
    #logo-principal{
        width:50%!important;
        height:25%;
        margin-left:1%;
    }
    #adoptar{
        margin-right:5%!important;
    }
}
@media screen and (min-width:440px){
    #logo-principal{
        width:45%!important;
        height:25%;
    }
}
@media screen and (min-width:500px){
    #logo-principal{
        width:40%!important;
        height:20%;
    }
}
@media screen and (min-width:550px){
    #logo-principal{
        width:35%!important;
    }
    .link{
        font-size:105%!important;
    }
}
@media screen and (min-width:600px){
    #logo-principal{
        width:38%!important;
        height:25%!important;
    }
    .link{
        font-size:110%;
        margin:12%;
    }
}
@media screen and (min-width:700px){
    #logo-principal{
        width:25%!important;
        height:20%!important;
    }
    .link{
        font-size:115%;
    }
}
@media screen and (min-width:800px){
    #logo-principal{
        width:55%!important;        
    }
    .link-container{
        display:flex;
       margin-left:55%!important;
    }

}